<div class="slidebox">
  <p id="text">Text goes here</p>
  
    <div class="slidebuttons">
      <a href="#" id="backButtonLink">
        <button class="button" id="backbutton"><< PREVIOUS</button></a> 
      |
      <a href="#" id="forwardButtonLink">
        <button class="button" id="forwardbutton">NEXT >></button></a>
    </div>
</div>